.mainbutton{
    width: Hug (161px);
    height: Fixed (40px);
    top: 50px;
    left: 1230px;
    padding: 10px 53px 10px 53px;
    border-radius: 68px;
    border: 1px;
    gap: 10px;
    background-color: transparent;
    border: thin solid rgb(134, 129, 129);
    color: white;
    font-size: 13px !important;
}
.subbutton{
    Width: Hug (238px);
    Height: Fixed (50px);
    top: 50px;
    left: 1230px;
    padding: 10px 53px 10px 53px;
    border-radius: 68px;
    border: 1px;
    gap: 10px;
    background-color: #EF2A82;
    color: white;
}